# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Typescript build output
dist/

# Uploads path
uploads/*

# Static files
!uploads/baterias.svg
!uploads/eletronicos.svg
!uploads/lampadas.svg
!uploads/oleo.svg
!uploads/organicos.svg
!uploads/papeis-papelao.svg
